@import url("https://js.arcgis.com/next/esri/themes/light/main.css");

html,
:root {
  --left-porcentagem: 15%; /* Valor de porcentagem desejado */
  --height:20%;
}
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .esri-popup--is-docked-top-right .esri-popup__main-container {
    max-height: 100%;
  }
  /* 02-itens */
  #appContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  /* Estilos para o botão de filtro */
  #filterDiv {
    position: absolute;
    top: 10px;
    right: -400px; /* Ajuste este valor para mover mais para a esquerda */
    display: flex;
    align-items: center;
    margin: 10px;
  }

  #responsavelSelect {
    margin-right: 10px;
  }

  #filterButton {
    padding: 5px 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }

  #filterButton:hover {
    background-color: #0056b3;
  }
    #viewDiv {
     top: 0;
      bottom: 0;
      position: absolute;
      right: 0;
      left: 0;
     flex: 1;
    }
    /* Estilos básicos para o botão */
  .btnAuth {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff; /* Cor de fundo do botão */
    color: #ffffff; /* Cor do texto do botão */
    transition: background-color 0.3s, color 0.3s;
  }

  /* Estilos quando o botão é passado o mouse */
  .btnAuth:hover {
    background-color: #0056b3; /* Nova cor de fundo */
    color: #ffffff; /* Nova cor do texto */
  }

  /* Estilos quando o botão é clicado */
  .btnAuth:active {
    background-color: #003580; /* Outra cor de fundo */
    color: #ffffff; /* Outra cor do texto */
  }
    /* 02-itens */
    .container {
      display: flex;
      flex: 1;
      width: 100%;
    }

    #mainDiv {
      top:20 px;
      padding: 8px;
    }
    .switch {
      position: relative;
      display: inline-block;
      width: 45px;
      height: 22px;
      vertical-align: middle;
    }

    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      left: 3px;
      bottom: 1px;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }
      

    input:checked + .slider {
      background-color: #2196f3;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #2196f3;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px);
    }

      /* Rounded sliders */

      .slider.round {
        border-radius: 20px;
      }

      .slider.round:before {
        border-radius: 50%;
      }

      .labelText {
        padding-left: 5px;
        font-size: 15px;
      }

      
      /* 01-itens */
      #itemDiv {
        position: absolute;
        left: 0;
        top: 0;
        bottom: var(--height);
        height:80%;
        width: 100%;
        overflow-y: auto;
      }
      #timeSlider {
        position: absolute;
        left: 0; /* Alterado para a esquerda */
        bottom: 0;
        height:var(--height);
        z-index: 1;
        width: var(--left-porcentagem);
      }
      
      .description {
        margin: 0 auto;
        width: 100%;
        padding: 20px;
      }
      
      h6 {
        margin: 0 !important;
      }
      
      .card {
        display: flex;
        flex-direction: column;
        position: relative;
        background: #fff;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0 16px 0 rgba(0, 0, 0, 0.05);
        margin-bottom: 1.55rem;
      }
      
      .block {
        box-sizing: border-box;
        margin-left: 0.75rem;
        margin-right: 0.75rem;
        min-width: 0;
        flex-grow: 0;
        flex-shrink: 1;
      }
      
      .card-image-wrap {
        width: 100%;
        position: relative;
        margin-bottom: 0;
        flex: 0 0 auto;
      }
      
      figure {
        display: block;
        margin: 0 0 1.55rem 0;
      }
      
      .card-image {
        width: 100%;
        display: block;
        max-width: 100%;
        height: auto;
      }
      
      .card-image-caption {
        background: #eeeeee7a;
        color: #4c4c4c;
        font-style: normal;
        margin: 0;
        width: 100%;
        box-sizing: border-box;
        position: absolute;
        bottom: 0;
        font-size: 0.875rem;
        line-height: 1.55rem;
        padding: 0.35rem 1.25rem 0.35rem 1.25rem;
      }
      
      .card-content {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        word-wrap: break-word;
      }
  
      #tableDiv {
        top: 50%;
        height: 50%;
        bottom: 0;
        position: absolute;
        right: 0;
        left: 0;
        flex: 1;  
        overflow: auto;
      }
      
      /* 03-itens */
      #mainWindow {
        padding: .5em;
        background-color: #fff;
      }
      #mainWindow p, #uploadForm {
          display: block;
          padding: .1em;
        }
/* Estilo para o conteúdo do painel */
.panel-content {
  display: none; /* Começa oculto por padrão */
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  height:100%;
  width: var(--left-porcentagem);
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  overflow-y: auto;
}

/* Mostra o painel quando está visível */
.panel-content.visible {
  display: block;
}
 
      