@import url("https://js.arcgis.com/next/esri/themes/light/main.css");
.mapDiv {
  width: 100%;
  height: 30rem; /* Defina a altura desejada */
}
#instructions {
  width: 300px;
  background: #fff;
  padding: 20px;
}
