@import "@esri/calcite-components/dist/calcite/calcite.css";
@import url("https://js.arcgis.com/calcite-components/1.8.0/calcite.css ");
@import url("https://js.arcgis.com/calcite-components/1.8.0/calcite.esm.js");
calcite-chip {
    align-self: center;
    margin-inline: 1rem;
    --calcite-ui-foreground-2: var(--calcite-ui-success);
    --calcite-ui-text-1: var(--calcite-ui-text-inverse);
    --calcite-ui-brand: #007AC2;
    --calcite-ui-background:#007AC2;
}
calcite-button {
    align-self: center;
    margin-inline: 1rem;
    --calcite-ui-foreground-2: #007AC2;
    --calcite-ui-text-1: var(--calcite-ui-text-inverse);
    --calcite-ui-brand: #007AC2;
    --calcite-ui-background:#007AC2;
}
  