/* ForgotPassword.css */
.forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .forgot-password-form {
    width: 300px;
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 4px;
    background-color: #f9f9f9;
  }
  
  .forgot-password-form h3 {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .forgot-password-form .btn-primary {
    width: 100%;
    background-color: #00A6A3;
    border-color: #00A6A3;
    margin-top: 1rem;
    margin-right: 0.5rem; /* Add this line */
  }
  
  .forgot-password-form .btn-secondary {
    width: 100%;
    background-color: #65675E;
    border-color: #65675E;
    margin-top: 1rem;
    margin-left: 0.5rem; /* Add this line */
  }
  .forgot-password-form .form-group {
    margin-bottom: 1rem;
  }